*{
	margin:0;
	padding:0;
}

body{
	background:url(../imagen/pingu.jpg);
	
	background-attachment:fixed;
}

header{
	margin:auto;
	width:100%;
	max-width:2000px;
	overflow:hidden;
}


header nav{
	overflow:hidden;
	background:black;
	width:100%;
	max-width:2000px;
}
header nav ul li{
	font-size:20px;
	float:left;
	padding:10px;
}

header nav ul{
	list-style:none;
}

a{
	text-decoration:none;
	color:blue;
	padding:10px;
}

li:hover{
	background:white;
}

a:hover{
	color:black;
}

a:active{
	color:red;
}

.main{
	width:90%;
	margin:20px auto;
	max-width:800px;
	overflow:hidden;
}

article{
	font-size:25px;
	padding:100px;
	text-align:justify;
}

.main .article{
	background:lightblue;
	width:90%;
}

.main .article img{
	width:100%;

}

footer{
	background:blue;
	color:white;
	overflow:hidden;
}

h2{
	padding:20px;
	float:left;
	padding-left:230px;
}




